.about-section {
  top: 0;
  display: flex;
  align-items: center;

}

.about-content {
  flex: 1;
  padding-left: 2rem;
  text-align: left;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1rem;
}


.irregular-shape {
  position: relative;
  overflow: hidden;
  width: 350px; /* Adjust the width */
  height: 400px; /* Adjust the height */
  transform:translate(-50%,50%);
  background-color: #fb6f92; /* Background color of the irregular shape */
  border-radius: 80% 20% 32% 68% / 58% 22% 78% 42% ; /* Define your irregular shape's path */
}

.irregular-shape img {
  position: absolute; /* Position the image absolutely within the shape */
  top: 0;
  bottom: 0;
  width: 100%; /* Make the image cover the entire shape */
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio and cover the shape */
}