.education-section {
    text-align: center;
    padding: 4rem;
  }
  
  .education-heading {
    font-size: 2rem;
  background-color: #fb6f92;
  padding: 0%;
  height: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
    margin-bottom: 2rem;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 2rem;
  }
  
  .timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 0;
    width: 80%; /* Adjust the width as needed */
  }
  
  .left {
    flex-direction: row-reverse;
  }
  
  .right {
    flex-direction: row;
  }
  
  .timeline-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .timeline-card {
    display: flex;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .timeline-content {
    padding: 1rem;
    text-align: left;
  }
  
  .timeline-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .timeline-content p {
    font-size: 1rem;
    color: #666;
  }
  